<!-- <div class = "container"> -->
	<div class="row meet" id="meet" data-spy="scroll" data-target=".navbar">
	  	<h3 class = "title">Meet our Developers!</h3>
	  	<hr>
	  	<div class="col-md-4">
	  		<div class="developer" ><%= image_tag "chris.jpg", :class => "img1"%></div>
	  		<h4 class="title">Chris Garvin</h4>
	  		<p class="quote">Hey! I'm CHris. People tell me I look 16 years old all the time, but I'm actually 18. Yup, that means I'm LEGAL, baby! Favorite food: Oatmeal.  Maple and Brown Sugar, Cinnamon and Spice, Apples and Cinnamon...you name it, I dig it! But all work and no oatmeal, makes CHris a dull boy. And by "dull boy", of course I mean "ready-for-a-riot boy". On a good day, however, I WILL settle for peanutbuttercrackers...But only Wholefoods crackers...consider yourself warned.</p>
	  	</div>
	  	<div class="col-md-4 ">
	  		<div class= "developer"><%= image_tag "steve.jpg", :class => "img1" %></div>
	  		<h4 class="title">Steve Soter</h4>
	  		<p class="quote">Hey, everyone!  Steve, my name is.  From the great state of michigan, I come. Although my state I still love, loving the sunshine state a whole lot more, I am.  Three children, I have, all of which I love almost the same. and my beautiful wife who inspires me everyday, I have.  Yeesssssss.</p>
	  	</div>
	  	<div class="col-md-4">
	  		<div class= "developer"><%= image_tag "sophie.jpg", :class => "img1"%></div>
	  		<h4 class="title">Sophie Chor</h4>

	  		<p class="quote">Hi! My name is Sophie Hard-Chor. But my friends call me Sophie. My passion for snap peas has inspired me to start my own snap peas company. You may have already heard of it: Sophie's Snaps. Still trying to get used to the success. Between Sophie's Snaps and Feed Yo'Self, I hardly have any time to count the dough. But I manage...and let me tell you, I'm RICH!</p>
	  	</div>
	</div>
<!-- </div> -->