<div class = "empty">
</div>

<div class = "search">
  <form class="form-inline">

     <div class="form-group">
        <input type="text" class="form-control" id="price" placeholder="NAME YO PRICE">

      <button id="submit" type="button" class="btn btn-default">GET FED UP</button>
      </div> <!-- close .form-group -->

    </form> <!-- close .form-inline -->
    <span class="error"></span>

</div> <!-- closing .search div  -->

<div class= "empty1"></div>
<div class="images">
  <%= render "galleries" %>
</div>

<div class="loadingPizza" style="display:none;"></div>
